@model cumulative_project.Models.Teacher

@{
    ViewBag.Title = "Show";
}


<div id="containershow">
    <nav class="navbar">
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
    </nav>
    <h2>@Model.TeacherFname @Model.TeacherLname </h2>
    <p><b>HireDate and time:</b> @Model.HireDate</p>
    <p><b>Salary Deatils:</b>@Model.Salary</p>
    <p><b>EmployeeNumber:</b>@Model.EmployeeNumber</p>
</div>

